body {
    background-color: orange;
    color: black;

}
.data tr {
    text-align: center;
    color: white;
}

.page {
    text-align: left;
}
.tops {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.tform {
    padding:30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.mtform {
    padding-top: 0px;
}
.mtform {
    display: flex;
    justify-content: left;   
}

label {
    padding: 5px 8px 5px 10px;
}

span {
    padding: 0px 0px 10px 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn {
    background-color: white !important; color:black !important;
    border: 1px solid black;
    margin-left: 15px;
}


.lll {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.lll div {
    display: flex;
}
.lll label {
    padding: 1px 0px 0px 4px;
}


#htmlbill {
    color: black;
    margin-top: -15px;
    padding: 0 15px 10px 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: none;
    text-align: center;
}
